#popup {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

#popup #titleDate {
    text-align: justify;
}

#titleDateBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#popup #description { 
    text-align: justify;
}

#popup #comments_tags_participants {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#comments_tags_participants #comments {
    flex-grow: 1;
}

#comments_tags_participants #tags_participants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
    flex-grow: 0;
    padding: 5px;
}

#tags_participants > #tags {
    flex-grow: 0;
}

#tags_participants > #participants {
    flex-grow: 0;
    margin-top: 20px;
}

#tags_participants > #confirmClose {
    flex-grow: 1;
    margin-top: 20px;
}

#confirmClose {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}