<!DOCTYPE html>
<html lang ="en-US">
    <style>
    body {
    background-image: url('https://wallpaperaccess.com/full/1257841.jpg');
    }
    </style>
    <head>
        <meta charset="utf-8">
        <title>Aster</title>
        
        <meta name="author" content="Wong Qin Liang">
        <meta name="description" content="Task-management using Kanban">

        <%= stylesheet_link_tag "index", media: "all", "data-turbolinks-track" => "reload" %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    </head>
    <body>
        <header>
            <%= image_tag "logo.png", size: "250x90" %>
        </header>

        <nav>
        </nav>

        <main>
            <%= javascript_pack_tag 'tasks' %>

            <aside>
            </aside>
        </main>

        <footer>
        </footer>
    </body>
</html>
